@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px; 
}

.img {
    max-width: 90vw; /* Maksimum lebar gambar sebagai 90% dari lebar viewport */
    height: auto;
    display: block;
    margin-bottom: 5vh; /* Margin bawah untuk memberi ruang antara gambar dan elemen lainnya */
}

.greetings {
    font-size: 6vw; /* Ukuran font greetings sebagai 6% dari lebar viewport */
    font-weight: 900;
    margin-bottom: 2vh; /* Margin bawah untuk memberi ruang antara greetings dan description */
    text-align: center;
}

.greetings > span {
    animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1.0s;
}
.greetings > span:nth-child(7){
    animation-delay: 1.2s;
}
.greetings > span:nth-child(8){
    animation-delay: 1.4s;
}
.greetings > span:nth-child(9){
    animation-delay: 1.6s;
}
.greetings > span:nth-child(10){
    animation-delay: 2s;
}

.description {
    font-size: 3vw; /* Ukuran font description sebagai 3% dari lebar viewport */
    margin-bottom: 2vh; /* Margin bawah untuk memberi ruang antara description dan button */
    text-align: center;
}

.button {
    margin-bottom: 5vh; /* Margin bawah untuk memberi ruang di antara button dan footer */
}

.button button {
    font-size: 2vw; /* Ukuran font button sebagai 2% dari lebar viewport */
    background-color: #008CBA;
    color: white;
    padding: 1vw 2vw; /* Padding tombol sebagai 1% dari lebar viewport */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    font-size: 2vw; /* Ukuran font button sebagai 2% dari lebar viewport */
    color: #111;
}

@media screen and (max-width: 574px) {
    .img {
        max-width: 80vw; /* Lebar gambar pada layar kecil */
    }
    .greetings {
        font-size: 10vw; /* Ukuran font greetings pada layar kecil */
    }
    .description {
        font-size: 10vw; /* Ukuran font description pada layar kecil */
    }
    .button button,
    .button a {
        font-size: 5vw; /* Ukuran font button pada layar kecil */
        padding: 1.5vw 3vw; /* Padding tombol pada layar kecil */
    }
}